<% provide(:title, "Vaccines") %>
<div class="row">
	<% if signed_in? %>
		<%= render "shared/sidebar" %>
	<% end %>
	<div>
		<div class="child-info span8">
			<h4><%= @child.name %></h4>
			<p>Born <strong><%= time_ago_in_words(@child.date_of_birth) %></strong> ago, of gender <strong><%= @child.gender.capitalize %></strong>.</p>
		</div>
		<div class="span8" id="vacc-container-div">
		<%= render "vaccination_boxes" %>
		<div>
		<div class="span8 offset4">
			<span class="pull-right"><%= link_to "Back", :back, {:class=>"btn btn-small btn-primary"} %></span>
		</div>
	</div>
</div>