
<% if current_user.children.any? %>
  <h3> <%= "Child".pluralize(current_user.children.count) %> (<%= current_user.children.count %>)</h3>
  <ol class="children">
  	<% current_user.children.each do |child| %>
      <% if !child.id.nil? %>
    	<li>
			    <%= link_to child.name, child %> born on <%= child.date_of_birth.strftime("%A %d %B %Y") %>
        <br />
			  <span class="timestamp">
  			  Added <%= time_ago_in_words(child.created_at) %> ago.
			  </span>
        <%= link_to "edit", child, method: :edit, title: "Edit #{child.name}" %>
  		  <%= link_to "delete", child, method: :delete,
                                   data: { confirm: "Are you sure?" },
                                   title: "Delete #{child.name}" %>
	    </li>
      <% end %>
  <% end %>
  </ol>
<% end %>